{% set master = [] -%}
{% for node in salt['pillar.get']('kube_nodes', {}) -%} 
    {% do master.append(salt['pillar.get']('kube_nodes:' ~ node ~ ':ipaddress')) if salt['pillar.get']('kube_nodes:' ~ node ~ ':type') in "master" -%}
{% endfor %}
[Unit]
Description=Kubernetes Kubelet
After=etcd.service
After=docker.service
Wants=etcd.service
Wants=docker.service

[Service]
ExecStart=/opt/kubernetes/kubelet \
--address={{ salt['pillar.get']('kube_nodes:' ~ grains['host'] ~ ':ipaddress') }} \
--port=10250 \
--hostname_override={{ salt['grains.get']('host') }} \
--api_servers={{ master | join(',') }}:8080 \
--cluster_dns={{ salt['pillar.get']('kube_pods:skydns:portalip') }} \
--cluster_domain={{ salt['pillar.get']('kube_pods:skydns:dnsname') }} \
--config=/etc/kubernetes/manifests \
--logtostderr=true
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
