{% set machinelist = [] -%}
{% for node in salt['pillar.get']('kube_nodes', {}) -%} 
    {% do machinelist.append(node) if salt['pillar.get']('kube_nodes:' ~ node ~ ':type') not in "master" -%}
{% endfor %}
[Unit]
Description=Kubernetes Controller Manager
After=etcd.service
After=apiserver.service
Wants=etcd.service
Wants=apiserver.service

[Service]
ExecStart=/opt/kubernetes/kube-controller-manager \
--master=http://127.0.0.1:8080 \
--machines={{ machinelist | join(',') }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
